/*orange color : #e67e22 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #f3f3f3;
    font-family: 'Lato','Arial','sans-arif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
	color: #555;
}     

.clearfix {zoom: 1}
.clearfix:after{
	content : '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	
}
.row {

	margin: 0 auto;
	width: 1040px;
}

header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg); 
	background-size: cover;
	background-position: center;
	height: 100vh;
	color: #d9d9d9;		
	background-attachment: fixed;	

}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


/* -------------------REUSABLE COMPONENT-------------------*/
.section-features{
	padding: 80px 0px;
}

.box{
	padding: 1%;
}

.box p{
	font-size: 90%;
	line-height: 145%;
}



/* -------------------HEADING-------------------*/

h1,h2,h3{
	
	font-weight: 300;
	text-transform: uppercase;
	
}
 
h2{
	font-size: 180%;
	letter-spacing: 2ox;
	text-align: center;
	font-weight: 100px;
	word-spacing: 4px;
	
}

h1{
	margin: 0px;
	font-size: 220%;
   	word-spacing: 4px;
	letter-spacing: 1px;
}

h3{
	margin-bottom: 15px;
	
	
}

h2:after{
	display: block;
	height: 2px;
	width: 100px;
	background-color: #e67e22; 
	content: " ";
    margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	
	
}

/*--------------------- ICON BIG  --------------------*/


.icon-big{
	font-size: 400%;
	display: block;
	color: #e67e22;
	margin-bottom: 10px;	
}

.icon-small{
	font-size: 120%;
	display: inline;
	color: #e67e22;
	margin-right: 15px;
	margin-top: -5px;
	text-align: center;
	vertical-align: middle;
}
/*--------------------- PARAGRAPH  --------------------*/

.long-copy{
	line-height: 145%;
	width: 70%;
}

.center-h2{
	margin-left: 15%;
	margin-bottom: 30px;
	
}

/*--------------------- LINKS  --------------------*/

a:link,
a:visited{
	color: #e67e22;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #e67e22;
	transition: border-bottom 0.2s,color 0.2s;
}

a:hover,
a:active{
	color: #555; 
	border-bottom: 1px solid transparent;
}

/*--------------------- BUTTON  --------------------*/



.btn:link,
.btn:visited,
input[type=submit]{
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	font-weight: 300;
	border-radius: 200px;	
	transition: background-color 0.3s, border 0.3s, color 0.3s;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
	background-color: #e67e22;
	margin-top: 15px;
   	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
	color: #e67e22;
	border: 1px solid #e67e22;
}

.btn:hover,
.btn:active,    
input[type=submit]:hover,
input[type=submit]:active{
	background-color: #d35400;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]{
	color: #fff;
	border: 1px solid #cf6d17
}

.btn-ghost:hover,
.btn-ghost:active{
	color: #fff;	
	background-color: #d35400;
}


/* -----------------NAVIGATION BAR------------------- */

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.logo {
	height: 100px;
	width: auto;
	margin-top: 20px;
	float: left;
	
}

.main-nav li{
	display: inline-block;
	margin-left: 40px;
	
}

.main-nav li a:link,
.main-nav li a:visited{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 1px solid transparent ;
	transition: border-bottom 0.3s;
	padding: 8px 0px; 
	
}

.main-nav li a:hover,
.main-nav li a:active{
	border-bottom: 1px solid #e67e22;
}


/*------------------ FEATURES---------------------*/

.section-features long-copy{
	margin-bottom: 50px;
}

/*------------------ MEALS---------------------*/

.section-meal{
	padding: 0;
}

.meal-showcase{
	list-style: none;
	width: 100%;
}

.meal-showcase li{
	display: block;
	float: left;
	width: 25%;
}

.meal-photo{
	width: 100%;
	overflow: hidden;
	background-color: #000;
	border-radius: 5%;
}

.meal-photo img{
	opacity: 0.6;
	width: 100%;
	height: auto;
	margin: 0;
	transform: scale(1.15);
	transition: transform 0.5s,opacity 1s;
}

.meal-photo img:hover{
	opacity: 1;
	transform: scale(1.03);	
}

/*------------------ HOW IT WORKS---------------------*/

.section-step{
	background-color: #f4f4f4;
}

h2.heading-2{
	margin-top: 100px;
}
.steps-box:first-child{
	text-align: right ;
	padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child{
	padding-left: 3%;
	margin-top: 70px;
}

.app-screen{
	width: 40%;
}

.work-step{
	margin-bottom: 50px;
}

.work-step:last-of-type{
	margin-bottom: 90px;	
}

.work-step div{
	color:  #e67e22 ;
	border: 2px solid #e67e22;
	display: inline-block;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	text-align: center;
	padding: 5px;
	float: left;
	font-size: 150%;
	margin-right: 25px;
}

.app-btn:link,
.app-btn:visited{
	border: 0px;
}

.app-btn img{
	height: 50px;
	width : auto;
	margin-right: 10px;
}

/*------------------ CITIES---------------------*/

.box img{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	
}

.city-feature{
	margin-bottom: 5px;
}

.section-cities{
	background-color: white;
	padding-bottom: 4%;

}

/*------------------ TESTIMONIAL--------------------*/

.section-testimonial{
	padding-top: 5%;
	background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/back-customers.jpg); 
	color: white;
	padding-bottom: 8%;
	background-attachment: fixed;
}

 
blockquote{
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin-top: 40px;
}

 
blockquote:before{ 
	content: "\201C";
	font-size: 500%;
	display: block;
	position: block;
	top: -5px;
	left: -5px;
	 
	   
}
cite{
	font-size: 90%;
	margin-top: 25px;
	display: block;
}

cite img{
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
	
}


/*------------------ PLANS --------------------*/

.section-plans{
	padding-top: 8%;
	padding-bottom: 8%;
	background-color: #e8e8e8;
}

.plan-box {
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
}

.plan-box div {
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}

.plan-price{
	font-size: 300%;
	margin-bottom: 10px;
	font-weight: 100;
	color: #e67e22;
}
.plan-price-meal{
	font-size: 80%;
}


.plan-price span{
	font-size: 30%;
	font-weight: 100;
	
	
}	

.plan-price-meal{
	font-size: 80%;
}
	
.plan-box ul{
	list-style: none;
}
.plan-box ul li{
	padding: 5px 0px;
}

.plan-box div:first-child{
	background-color: #f4f4f4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}


.plan-box div:last-child{
	text-align: center;
	border: 0;
}


/*------------------ FORMS --------------------*/

.section-form {
	padding-top: 5%;
	padding-bottom: 5%;
}


.contact-form{
	width: 60%;
	margin: 0 auto;
	margin-right: 70%;
	
}

input[typetext],
input[typeemail],
select,
textarea{
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea{
	height: 100px;
	
}

input[type=checkbox]{
	margin: 10px 50px 10px 0;
	
}

*:focus {outline : none;}

/*------------------ FORMS --------------------*/


footer{
	background-color: #333;
	color: #ddd;
	padding: 5% 0 5% 0;
	text-decoration: none;

}

.footer-nav{
	list-style: none;
	float: left;
	border-bottom: color white 0px;
}

.social-links{
	list-style: none;
	float: right;
	border-bottom: color white 0px;

}

.footer-nav li,
.social-links li{
	display: inline-block;
	margin-right: 20px;
	
}
.footer-nav li:last-child,
.social-links li:last-child{
	margin-right: 0;
}

.footer-nav li a:link;
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
	text-decoration: none;
	border: 0;
	color: #888; 
	transition:  color 0.2s; 
}

.footer-nav li a:hover,
.footer-nav li a:active{
	color: #ddd;
}

footer p{
	color: #888;
	text-align: center;
	font-size: 90% ;
	margin-top: 30px;
}

.footer-nav li a,
.footer-nav li a,
.social-links li a,
.social-links li a{
	color: #888;
}



.new div a{
  text-decoration: none;	
}
